# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Airflow
airflow/logs/
airflow/plugins/
airflow/config/airflow.cfg

# Jars 
jars/

# Data 
data/

# Docker volumes
postgres-db-volume/
mysql-volume/
warehouse-volume/